<table>
  <tr>
    <th>Name</th>
    <th>Biography</th>
    <th colspan="2">Actions</th>
  </tr>
 
  <% @artists.each do |artist| %>
    <tr>
      <td><%= link_to artist.name, artist_path(artist) %></td>
      <td><%= artist.biography %></td>
    </tr>  
  <% end %>
</table>