<h1>Release Process Manifesto v0.1</h1>

<p><strong> How we decide tracks are ready to release.</strong></p>

<h2>Goal</h2>

<p>To make a scaleable process which we can apply online without having to have face to face contact with artists.</p>

<h2>User Definitions</h2>

<ul>
<li><strong>Artist</strong>: a member of the label who creates music or performs.

<ul>
<li>artists may be locationally disparate and have limited communication outside of the label</li>
<li>Sebastian, Andrew, Aaron, Jacon, Andrew Woodgate, Massimo</li>
</ul>
</li>
<li><strong>Visionairy</strong>: a member of the label who provides vision and direction

<ul>
<li>decides which artistic direction the label takes</li>
<li>decides which artists should join the label</li>
<li>decides which mixes/releases are made.</li>
<li>visionary team is ideally centrally located / in regular contact</li>
<li>Sebastian, Andrew, Aaron, Jacob</li>
</ul>
</li>
<li><strong>Admin</strong>: a member of the label who conducts the administrative duties

<ul>
<li>assigns the visionary team</li>
<li>is responsible for label adminstration / tax / business etc</li>
<li>can remove artists / releases / mixes</li>
<li>administration team is centrally located.</li>
<li>Sebastian</li>
</ul>
</li>
</ul>


<h2>Process</h2>

<ol>
<li><p>Artist and label connect through facebook / email / in person contact.
Artist submits soundcloud page, public or private links to urls, a biography, vision statement.</p></li>
<li><p>After some discussion, the artist is "signed" to our label by unaminous agreement of visionaries.</p></li>
<li><p>The artist is provisioned with an Artist account. The artist can accept the "signing" and terms and conditions of the label. The artist can then log in to Artist account.</p></li>
<li><p>Once logged in the Artist can submit a release candidate:</p>

<ul>
<li>track title</li>
<li>soundcloud url</li>
<li>description</li>
</ul>
</li>
<li><p>The release candidate appears on admin home page for all Users. The Artist can also view release candidates from other Artists on the label, including ones in the past.</p></li>
<li><p>A notification that a release candidate has been posted is sent to all Visionaries</p>

<ul>
<li>Pending release candidates (one which require a response) will show up the top of the Visionaries home page.</li>
</ul>
</li>
<li>Other artists can listen and leave comments on the track.

<ul>
<li>Artists can download the track for use in their sets performance</li>
</ul>
</li>
<li>Visionaries can listen, leave comments and approve / deny the release.

<ul>
<li>If the visionary denies the release candidate, then they must leave a constructive comment as to why.</li>
<li>If the release candidate is denied, it can be re-submitted with a new version at any time.</li>
</ul>
</li>
<li>Once all visionaries approve the release it is ready for finalisation</li>
<li><p>Artist/Visionary must add details to finalise the release</p>

<ul>
<li>Release image</li>
<li>Public Soundcloud url (mastered version)</li>
<li>Bandcamp / Beatport download</li>
<li>Mp3 for download</li>
<li>Press kit</li>
<li>Proofed Description</li>
<li>Release no</li>
</ul>
</li>
<li><p>Once all the details have been provided the artist and visionaires must approve the release. Once this has happened, the release is said to be "live". Tracks will be scheduled into a released schedule and released at optimum timing to increase exposure for artists/label.</p></li>
<li><p>A visionary must then repost the soundcloud track to the Jus B Chill soundcloud page</p></li>
<li><p>A visionary must post about the track on social media.</p></li>
<li><p>A visionary must then send out the press kit to contacts.</p></li>
</ol>