<h1>Ideas for this interface.</h1>
<ul>
  <li>Notepad to write down ideas</li>
  <li>List of things to do</li>
  <li>Songs pending group approval</li>
  <li>Songs needing to be mastered</li>
  <li>Our proceedure to releasing songs</li>
  <li>Booking opportunities</li>
</ul>
<h2>Go make more music.</h2>