<h1>Release Schedule</h1>
<iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=jusbchill.com_jj005deupmar3jeoafeebphmjs%40group.calendar.google.com&amp;color=%232952A3&amp;src=jusbchill.com_mjdb17g8hno4qqojvta5jj2hc0%40group.calendar.google.com&amp;color=%2323164E&amp;ctz=Australia%2FSydney" style=" border-width:0 " width="800" height="600" frameborder="0" scrolling="no"></iframe>

<hr>

<%= render 'process' %>