<div class="card col-sm-6 col-md-4">
  <div class="card-image">
    <%= link_to(mix_path(mix), {}) do %>
      <%= image_tag(mix.avatar.jumbo.url) %>
    <% end %>
  </div>
  <div class="card-details">
    <h5><%= link_to(mix.title, mix_path(mix)) %></h5>
    <h5><%= link_to(mix.artist.name, artist_path(mix.artist)) %></h5>
  </div>
</div>