<section class="artists row">
  <% @artists.each do |artist| %>
    <div class="artist col-md-3">
      <div class="artist-image">
        <%= link_to(edit_admin_artist_path(artist), {}) do %>
          <%= image_tag(artist.avatar.url) %>
        <% end %>
      </div>
      <div class="artist-details">
        <h3><%= artist.name %></h3>
      </div>
    </div>
  <% end %>
</section>