<table>
  <tr>
    <th>Name</th>
    <th>Biography</th>
    <th colspan="2">Actions</th>
  </tr>
 
  <% @artists.each do |artist| %>
    <tr>
      <td><%= link_to artist.name, artist_path(artist) %></td>
      <td><%= artist.biography %></td>
      <td><%= link_to 'Edit', edit_artist_path(artist) %></td>
      <td><%= link_to 'Destroy', artist_path(artist),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>  
  <% end %>
</table>