<h1>Crop That Image</h1>

<%= form_for(@artist, url: admin_artist_path(@artist), html: { role: "form" } ) do |f| %>
  <div class="form-group">
    <div class="form-group">
      <%= f.cropbox :avatar %>
    </div>

    <div class="form-group">
      <%= f.previewbox :avatar %>
    </div>

    <div class="form-group">
      <%= button_tag(type: 'submit', class: "btn btn-lg btn-primary") do %>
        Crop
      <% end %>
    </div>
  </div>
<% end %>