<section class="introduction row">
  <div class="lead col-md-6">
    <h2>About</h2>
    <h3>"jus b chill" is an online-based, artist-run music label.</h3>
    <p>We make music, throw parties and have fun.</p>
    <p>We think it's important to be chill, so don't stress. Let go and jus b.</p>
  </div>
  <div class="lead col-md-4">
    <%= image_tag('dolphin.gif') %>
  </div>
</section>