<div class="about">
  <div class="container">
    <section class="row">
      <div class="col-md-6">
        <h2>About</h2>
        <p class="lead">"jus b chill" is an online-based, artist-run music label.</p>
        <p>We make music, throw parties and have fun.</p>
        <p>We think it's important to be chill, so don't stress. Let go and jus b.</p>
      </div>
      <div class="col-md-4">
        <%= image_tag('dolphin.gif') %>
      </div>
    </section>
  </div>
</div>