<section class="soundcloud row">
  <div class="col-md-12">
    <%= render 'musicplayer' %>
  </div>
</section>
<section class="releases row">
  <div class="col-md-12 ">
    <h3>Releases</h3>
    <%= render 'releases/list' %>
  </div>
</section>
