<section class="soundcloud row hidden">
  Big Soundcloud player goes here. 
</section>
<section class="releases row">
  <div class="col-md-12 ">
    <h3>Our releases.</h3>
    <%= render 'releases/list' %>
  </div>
</section>
<section class="mixes row">
  <div class="col-md-12 ">
    <h3>Mixes for your listening pleasure.</h3>
     <%= render 'releases/list' %>
  </div>
</section>
