<% content_for :og_tags do %>
  <%= render 'opengraph' %>
<% end %>

<div class="introduction">
  <div class="container">
    <section class="row">
      <div class="col-md-6 col-md-offset-3">
        <p class="lead">"jus b chill" is an online-based, artist-run music label</p>
      </div>
    </section>
  </div>
</div>

<div class="soundcloud">
  <div class="container">
    <section class="row">
      <div class="col-md-12">
        <%= render 'musicplayer' %>
      </div>
    </section>
  </div>
</div>

<% unless @releases.blank? %>
<div class="introduction">
  <div class="container">
    <section class="row">
      <div class="col-md-12">
        <h2>Releases</h2>
        <%= render 'releases/list' %>
      </div>
    </section>
  </div>
</div>
<% end %>

<% unless @mixes.blank? %>
<div class="mixes">
  <div class="container">
    <section class="row">
      <div class="col-md-12">
        <h2>Latest Mixes</h2>
        <%= render 'mixes/list' %>
      </div>
    </section>
  </div>
</div>
<% end %>