
<% if(@event_live) %>

  <div class="livestream">
    <iframe frameborder="0" width="100%" height="800" src="http://trnsmt.tv" allowfullscreen></iframe>
  </div>

<% elsif(@event_upcoming) %>

  <div class="well">
    <h2>Stay tuned.</h2>
    <h2>This episode screens in <%= distance_of_time_in_words(Time.zone.now, Time.zone.parse("April 10th 2015 11:00:00 PM")) %>.</h2>
    
  </div>

<% elsif(@event_finished) %>

    <!-- Nothing -->
<% elsif(@event_already_happened) %>

  <div class="well">
    <h2>Thanks for watching Cool Room.</h2><h2>We'll upload this episode shortly.</h2>
  </div>

<% end %>