
<% if(@event_live) %>

  <div class="livestream">
    <iframe frameborder="0" width="100%" height="800" src="http://trnsmt.tv" allowfullscreen></iframe>
  </div>

<% elsif(@event_upcoming) %>

    <h2>Stay tuned.</h2>
    <h2>This episode screens in <%= distance_of_time_in_words(Time.zone.now, @event.start_date); %>.</h2>
    
    <br>
    <br>

<% elsif(@event_finished) %>

    <h2>Watch this episode below!</h2>
    <br>
    <br>
    
<% elsif(@event_already_happened) %>

    <h2>Thanks for watching Cool Room.</h2><h2>We'll upload this episode shortly.</h2>
    <br>
    <br>
<% end %>