<div class="videos videos-alt">
  <div class="container">
    <section class="row">
      <div class="col-md-12">
        <h2><%= event.thanks_header %></h2>
        <p class="lead"><%= event.thanks_text %></p>

        <div class="fb-like-box" data-href="<%= event.facebook_page %>" data-width="300px" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
      </div>
    </section>
  </div>
</div>
