<% content_for :og_tags do %>
  <%= render 'events/coolroom/opengraph' %>
<% end %>

<div class="coolroom fullscreen-bg events-video">
  <div class="container">
    <%= video_tag("background.mp4", loop: true, autoplay: true, muted: true, poster: image_url("coolroom/video-cover.png"), class: "fullscreen-bg__video") %>

    <div class="event-logo logo pulse">
      <%= image_tag('coolroom/cool-room-final.png') %>
    </div>

    <div class="event-actions">
      <a href="https://www.eventbrite.com.au/e/cool-room-s02e01-season-2-premiere-tickets-19674210092" class="btn btn-success btn-lg">Buy tickets</a>
      <a href="http://facebook.com/coolroomtv" class="btn btn-primary  btn-lg">Attend on Facebook</a>
    </div>

  </div>
</div>

<div class="coolroom episode-description">
  <div class="container">
    <section class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2>Season 2</h2>

        <div class="iframe-container">
          <iframe width="100%" height="250" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?color=5FB4FC&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=false&amp;show_artwork=false&amp;show_reposts=false&amp;url=https%3A//api.soundcloud.com/playlists/168255051%3Fsecret_token%3Ds-PlVFN"></iframe>
        </div>

        <p class="lead">Jus B Chill proudly presents: Cool Room, the chill and sexy dance show, a monthly dance party and online TV show celebrating Melbourne techno.</a>

        <p>Each episode features a TV audience live in the Cool Room studio. Our lucky audience members will get on down to titillating techno, dripping acid squelches, and the full spectrum of weird and ravey sounds.</p>

        <div class="social">
          <p>
            <a href="https://www.facebook.com/coolroomtv" class="btn btn-default btn-facebook btn-lg">Facebook</a>
          </p>
        </div>

        <div class="well manifesto">
          <h3>Cool Room Manifesto</h3>
          <p>When dancing is your expression, Cool Room is where you show others how you work it. </p>
          <p>Be ~chill~, feel *sexy*.</p>
          <p> Make it hot and keep it cool. </p>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="events-light">
  <div class="container">
    <section class="row">
      <div class="col-md-12">
        <h2 class="event-season">Season 1</h2>
        <div class="event-listing">
          <%= render 'events/list' %>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="videos videos-alt">
  <div class="container">
    <section class="row">
      <div class="col-md-12">
        <h2>Thanks for watching!</h2>
        <p class="lead">Like us on Facebook to get invited to the next episode.</p>
        <div class="fb-like-box" data-href="https://www.facebook.com/coolroomtv" data-width="300px" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
      </div>
    </section>
  </div>
</div>