<% content_for :og_tags do %>
  <%= render 'events/coolroom/opengraph' %>
<% end %>

<div class="coolroom events-dark">
  <div class="container">
    <section class="row">
      <div class="col-md-12">
        <div class="logo pulse">
          <%= image_tag('coolroom/cool-room-final.png') %>
        </div>
      </div>
    </section>
  </div>
</div>


<div class="events-light">
  <div class="container">
    <section class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="event-listing">
          <ul class="list-unstyled">
            <li>
              <a href="coolroom/episode2">
                <%= image_tag('coolroom/episode2/banner.png') %>
              </a>
            </li>
            <li>
              <a href="coolroom/pilot">
                <%= image_tag('coolroom/episode1/banner.png') %>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</div>


<div class="episode-description">
  <div class="container">
    <section class="row">
      <div class="col-md-8 col-md-offset-2">
        <p class="lead">Jus B Chill and Hugs &amp; Kisses proudly present: Cool Room, the chill and sexy dance show, a periodic dance party and online TV show celebrating Melbourne techno.</a>

        <p>Each episode features a members only TV audience live at the Hugs &amp; Kisses studio. Our lucky audience members will get on down to titillating techno, dripping acid squelches, and the full spectrum of weird and ravey sounds.</p>

        <div class="social">
          <p>
            <a href="https://www.facebook.com/coolroomtv" class="btn btn-default btn-facebook btn-lg">Facebook</a>
          </p>
        </div>

        <div class="well manifesto">
          <h3>Cool Room Manifesto</h3>
          <p>When dancing is your expression, Cool Room is where you show others how you work it. </p>
          <p>Be ~chill~, feel *sexy*.</p>
          <p> Make it hot and keep it cool. </p>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="videos videos-alt">
  <div class="container">
    <section class="row">
      <div class="col-md-12">
        <h2>Thanks for watching!</h2>
        <p class="lead">Like us on Facebook to get invited to the next episode.</p>
        <div class="fb-like-box" data-href="https://www.facebook.com/coolroomtv" data-width="300px" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
      </div>
    </section>
  </div>
</div>