<section class="contact row">
  <div class="lead col-md-6">
    <h2>Contact details</h2>

    <h3>If you are looking to book our artists</h3>
    <p>Contact <a href="mailto:hello@jusbchill.com">hello@jusbchill.com</a> with the subject line: <em>Bookings: </em></p>

    <h3>If you have a general enquiry</h3>
    <p>Contact <a href="mailto:hello@jusbchill.com">hello@jusbchill.com</a></p>

    <h3>If you think you would be suitable for our label</h3>
    <p>Send a demo/press kit/whatever-you-want to <a href="mailto:demos@jusbchill.com">demos@jusbchill.com</a></p>
    <p>We will try to listen to it and get back to you in a timely manner.</p>
  </div>
  <div class="lead col-md-4">
    <%= image_tag('dolphin.gif') %>
  </div>
</section>