
.navbar{
  margin-bottom: 0px;
}

body {
  background: #fff;
  text-align: left;
}

.btn-new-artist{
  margin-top: 5px;
}

form{
  .form-image{
    float: clear;

    img{
      height: 300px;
      width: 312px;
    }
  }
}


.artist{
  border-radius: 5px;
  padding:  10px;
  margin-bottom: 20px;

  .artist-image{
    height: 250px;
    float: clear;

    img{
      width: 272px;
      height: 250px;
    }
  }

  .artist-details{
    
    h3{
      margin-top: 0px;
      float: left;
    }

    height: 68px;

    border: 2px solid #efefef;
    border-radius: 3px;
    background-color: #fff;
    padding: 15px;
  }
}

.release{
  border-radius: 5px;
  padding:  10px;
  margin-bottom: 20px;

  .release-image{
    float: clear;

    img{
      width: 263px;
    }
  }

  .release-image-large{
    float: clear;

    img{
      width: 450px;
    }
  }


  .release-details{
    
    h3{
      margin-top: 0px;
    }

    border: 1px solid #efefef;
    border-radius: 3px;
    background-color: #fff;
    padding: 15px;
  }
}
