// Place all the styles related to the artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.artist-information{
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;

  .artist-links{
    padding-bottom: 10px;
  }

  .artist-image{
    float: clear;

    img{
      width: 100%;
    }

    @media (min-width: $screen-md-min) {
      img{
        width: 315px;
        height: 315px;
      }
    }

    @media (min-width: $screen-lg-min) {
      img{
        width: 340px;
        height: 340px;
      }
    }
  }

  .artist-details{
    h3{
      margin-top: 20px;
      padding: 10px 0px;
    }


    @media (min-width: $screen-md-min) {
      h3{
        margin-top: 0px;
      }
    }

  }
}

@media (min-width: $screen-md-min) {
  .artist-information{
    text-align: left;
  }
}