// Place all the styles related to the mixs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card{
  border-radius: 5px;
  padding:  10px;
  margin-left: -10px;
  margin-bottom: 20px;
  text-align: center;
  margin: 0 auto;

  &:hover{
    opacity: 0.7;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
  }
  
  .card-image{
    img{
      width: 100%;
    }

    @media (min-width: $screen-md-min) {
      img{
        width: 315px;
        height: 315px;
      }
    }

    @media (min-width: $screen-lg-min) {
      img{
        width: 340px;
        height: 340px;
      }
    }
  }

  .card-image-large{
    float: clear;

    img{
      width: 450px;
    }
  }


  .card-details{
    width: 340px;
    height: 80px;
    margin: 0 auto;
    border: 1px solid #efefef;
    border-radius: 3px;
    background-color: #fff;
    padding: 7px 15px;

    h3{
      margin-top: 0px;
    }


  }
}

.card-main{
  margin-bottom: 20px;
  text-align: center;

  .soundcloud-player{
    margin-bottom: 40px;
  }

  .card-image{

    img{
      width: 263px;
    }
  }

  .card-image-large{
    margin-bottom: 20px;
    text-align: center;
    
    img{
      margin: 0 auto;
      width: 370px;
      height: 370px;
    }

    @media (min-width: $screen-md-min) {
      img{
        width: 315px;
        height: 315px;
      }
    }

    @media (min-width: $screen-lg-min) {
      img{
        width: 340px;
        height: 340px;
      }
    }
  }


  .card-details{
    .meta{
      margin: 20px 0px;
    }

    h3{
      margin-top: 0px;
    }

    .description{
      margin-top: 20px;
    }

    margin-bottom: 40px;
    background-color: #fff;
  }
}