// Place all the styles related to the mixs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card{
  border-radius: 5px;
  padding:  10px;
  margin-bottom: 20px;

  .card-image{
    float: clear;

    img{
      width: 379px;
      height: 379px;
    }
  }

  @media (min-width: $screen-sm-min) {

    .card-image{
      img{
        width: 263px;
        height: 263px;
      }
    }
  }

  .card-image-large{
    float: clear;

    img{
      width: 450px;
    }
  }


  .card-details{
    
    h3{
      margin-top: 0px;
    }

    border: 1px solid #efefef;
    border-radius: 3px;
    background-color: #fff;
    padding: 15px;
  }
}

.card-main{
  margin-bottom: 20px;

  .soundcloud-player{
    margin-bottom: 40px;
  }

  .card-image{
    float: clear;

    img{
      width: 263px;
    }
  }

  .card-image-large{
    float: clear;

    img{
      width: 350px;
    }
  }


  .card-details{
    
    h3{
      margin-top: 0px;
    }

    margin-bottom: 40px;
    background-color: #fff;
  }
}