$background_primary: #000;
$background_secondary: #e7e7e7;
$border_primary: #e1e1e1;

.events-dark{
  background-color: $background_primary;
}

.event-logo{
  margin-top: 20px;
}

.event-season{
  margin-top: 50px;
  margin-bottom: 30px;
}

.event-listing{
  margin-top: 20px;

  a:hover{
    text-decoration: none;
  }
}

.iframe-container{
  margin-top: 40px;
  margin-bottom: 60px;
}

.fullscreen-bg {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -100;
}

.event-card{
  padding-top: 40px;
  height: 460px;
  overflow: hidden;
  margin-bottom: 20px;
  padding-top: 0px;
  padding-bottom: 10px;
  border: 1px solid $border_primary;
  border-radius: 3px;
  
  img{
    width: 100%;
    height: 250px;
  }

  &:hover{
    opacity: 0.7;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
  }
}

.event-card-details{
  padding: 15px;
}

.coolroom{
  padding: 20px;
  text-align: center;
  margin-top: -20px;
  background-position: center center;
  background-size: cover;

  .logo img{
    margin: 0 auto;
    display: block;
    position: relative;
    width: 300px;
  }

  @media (min-width: $screen-sm-min) {
    .logo img{
      width: 400px;
    }
  }
}

.events-video{
  display: none;
  margin-top: -20px;
  margin-bottom: 20px;
}


 @media (min-width: $screen-xs-min) {
    .events-video{
      height: 450px;
      display: block;
    }
  }

 @media (min-width: $screen-sm-min) {
    .events-video{
      height: 600px;
    }
  }

.livestream{
  background-color: #fff;

  iframe{
    border: none;
  }
  height:  800px; 
  background-color: $background_primary;
}

.pulse {
  -webkit-animation: pulsate 5s ease-in-out;
  -webkit-animation-iteration-count: infinite; 
  opacity: 1.0;
}

@-webkit-keyframes pulsate {
  0% {opacity: 0.2;}
  50% {opacity: 1.0;}
  100% {opacity: 0.5;}
}

.episode-1-cover{
  background-image: asset-data-url("coolroom/episode1/cover.jpg");
}

.episode-2-cover{
  background-image: asset-data-url("coolroom/episode2/cover.jpg");
}

.episode-3-cover{
  background-image: asset-data-url("coolroom/episode3/cover.jpg");
}


.coolroom-bottom{
  background-image: asset-data-url("coolroom/episode1/bottom.jpg");
}

.coolroom-drinks{
  background-image: asset-data-url("coolroom/drinks.jpg");
}


.episode-2-trailer{
  background-image: asset-data-url("coolroom/episode2/trailer.jpg");
}

.episode-3-trailer{
  background-image: asset-data-url("coolroom/episode3/trailer.jpg");
}

.embed-container { 
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%; 
} 

.embed-container iframe, 
.embed-container object, 
.embed-container embed { 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
}

.episode-description{
  padding: 40px;

  h1{
    font-size: 24px;
    margin-bottom: 20px;
  }

  @media (min-width: $screen-sm-min) {
    h1{
      font-size: 48px;
      margin-bottom: 40px;
    }
  }

  .manifesto{
    padding: 20px;
    margin-bottom: 20px;

    @media (min-width: $screen-sm-min) {
      margin-top: 40px;
      padding: 40px;

      h1{
        font-size: 48px;
        margin-bottom: 40px;
      }
    }

    h3{
      margin-bottom: 40px;
    }

    
  }

  .cast{
    padding: 20px;
    font-size: 16px;
  }
}

.videos{
  padding: 40px;
  background-color: $background_secondary;

  h2{
    margin-bottom: 40px;
  }

  .video{
    margin-top: 20px;
    padding: 0px;
  }

   @media (min-width: $screen-sm-min) {
    .video{
      padding: 40px;
    }
  }
}

.videos-alt{
  background-color: #fff;
}

