$background_primary: #000;
$background_secondary: #e7e7e7;

.coolroom{
  padding: 20px;
  text-align: center;
  margin-top: -20px;
  background-position: center center;
  background-size: cover;
  height: 450px;

  .logo img{
    margin: 0 auto;
    display: block;
    position: relative;
    width: 300px;
  }

  @media (min-width: $screen-sm-min) {
    .logo img{
      width: 400px;
    }
  }
}

.coolroom-top{
  background-image: asset-data-url("coolroom/top.jpg");
}

.coolroom-bottom{
  background-image: asset-data-url("coolroom/bottom.jpg");
}

.coolroom-drinks{
  background-image: asset-data-url("coolroom/drinks.jpg");
}

.embed-container { 
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%; 
} 

.embed-container iframe, 
.embed-container object, 
.embed-container embed { 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
}

.episode-description{
  padding: 40px;

  h1{
    font-size: 24px;
    margin-bottom: 20px;
  }

  @media (min-width: $screen-sm-min) {
    h1{
      font-size: 48px;
      margin-bottom: 40px;
    }
  }

  .manifesto{
    padding: 20px;
    margin-bottom: 40px;

    @media (min-width: $screen-sm-min) {
      padding: 80px;

      h1{
        font-size: 48px;
        margin-bottom: 40px;
      }
    }

    h3{
      margin-bottom: 40px;
    }

    
  }

  .cast{
    padding: 20px;
    font-size: 16px;
  }
}

.videos{
  padding: 40px;
  background-color: $background_secondary;

  h2{
    margin-bottom: 40px;
  }

  .video{
    margin-top: 20px;
    padding: 0px;
  }

   @media (min-width: $screen-sm-min) {
    .video{
      padding: 40px;
    }
  }
}

.videos-alt{
  background-color: #fff;
}



