// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$background_primary: #fff;
$background_secondary: #ededed;

body {
  background: $background_primary;
  text-align: center;
}

.introduction{
  padding: 20px 0px;
}

.about, .contact{
  text-align: left;
}

.artist-bio, .card-details{
  text-align: left;
}

.soundcloud{
  padding-bottom: 40px;
}

.mixes{
  padding: 40px 0px 80px 0px;
  background-color: $background_secondary;

  h2{
    padding-bottom: 20px;
  }
}

.btn-new-artist{
  margin-top: 5px;
}

footer{
  padding: 60px 0;
  text-align: center;
  margin-bottom: 30px;
}

.cards{
  padding-bottom: 80px;
  border-bottom: 1px solid $background_secondary;

  h2{
    padding-bottom: 40px;
  }
}