// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.navbar{
  margin-bottom: 0px;
  padding-top: 15px;
  padding-bottom: 15px;

  li a{
    font-size: 16px;
  }

  .navbar-brand {
      margin-right: 50px;
      img{
      height: 30px
    }
  }
}

body {
  background: #fff;
}

.btn-new-artist{
  margin-top: 5px;
}


.artist{
  background-color: #f8f8f8;
  border-radius: 5px;
  padding:  10px;
  margin-bottom: 20px;

  .artist-image{
    float: clear;

    img{
      width: 300px;
    }
  }

  .artist-details{
    
    h2{
      margin-top: 0px;
    }
    background-color: #fff;
    padding: 15px;
  }
}


.release{
  border-radius: 5px;
  padding:  10px;
  margin-bottom: 20px;

  .release-image{
    float: clear;

    img{
      width: 263px;
    }
  }

  .release-details{
    
    h3{
      margin-top: 0px;
    }

    border: 1px solid #efefef;
    border-radius: 3px;
    background-color: #fff;
    padding: 15px;
  }
}

footer{
  padding: 60px 0;
  text-align: center;
  margin-bottom: 30px;

  li{
    font-size: 16px;
  }
}
