// Place all the styles related to the mixs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.mix{
  border-radius: 5px;
  padding:  10px;
  margin-bottom: 20px;

  .mix-image{
    float: clear;

    img{
      width: 263px;
    }
  }

  .mix-image-large{
    float: clear;

    img{
      width: 450px;
    }
  }


  .mix-details{
    
    h3{
      margin-top: 0px;
    }

    border: 1px solid #efefef;
    border-radius: 3px;
    background-color: #fff;
    padding: 15px;
  }
}

.mix-main{
  margin-bottom: 20px;

  .soundcloud-player{
    margin-bottom: 40px;
  }

  .mix-image{
    float: clear;

    img{
      width: 263px;
    }
  }

  .mix-image-large{
    float: clear;

    img{
      width: 350px;
    }
  }


  .mix-details{
    
    h3{
      margin-top: 0px;
    }

    margin-bottom: 40px;
    background-color: #fff;
  }
}