<footer class="row">
  <div class="col-md-12">
    <ul class="list-inline">
      <li><%= link_to 'Privacy Policy', privacy_path, class: "btn" %></li>
      <li><%= link_to 'Contact', contact_path, class: "btn" %></li>
    </ul>
  </div>
</footer>