<footer class="row">
  <div class="col-md-12">
    <ul class="list-inline">
      <li><a href="privacy">Privacy Policy</a></li>
      <li><a class="hidden" href="legal">Legal</a></li>
      <li><a href="contact">Contact</a></li>
    </ul>
  </div>
</footer>